{% extends 'base/base.html' %}
{% load static %}
{% block title %}Vídeo Motivacional{% endblock title %}
{% block body %}
<div class="container-lg mt-5">
  <div class="row align-items-center">
    <div class="col-sm-4 col-lg-6">
      <h1 class="mt-4, mb-3">Vídeo Motivacional</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oeRRr38PZ4Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

    </div>
  </div>
</div>

{% endblock body %}

